{% extends "auctions/layout.html" %}
{% block title %}Eco Deposit{% endblock %}
{% block body %}

    <div id="message"></div>
    <center>
        <form action="{% url 'recycle_deposit' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <h1 style="font-family:'verdana';">Recycling Deposit Near You</h1>
            <div style="width:50%;" class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile02">Image of Deposit</label>
              {{ form.image }}
            </div>
            <div style="width:50%;" class="input-group">
              <span class="input-group-text">Description</span>
              {{ form.description }}
            </div>
            <div style="width:50%" class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" id="findLocation">Select Current Location</button>
                {{ form.location }}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit Recycling Deposit">
        </form>
    </center>

    <script>
    function initMap() {
        var searchInput = document.querySelector('input[name="location"]');
        var autocomplete = new google.maps.places.Autocomplete(searchInput, {
            types: ['address'],
            componentRestrictions: { country: 'us' }
        });
        autocomplete.addListener('place_changed', function () {
            var near_place = autocomplete.getPlace();
            //searchInput.textContent = near_place;
        });

        const locationButton = document.getElementById('findLocation');
        locationButton.addEventListener('click', function() {
            const success = (position) => {
                console.log(position);
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                const coordinates = `${latitude},${longitude}`;
                console.log(coordinates);
                const accuracy = position.coords.accuracy;
                console.log(accuracy);
                const new_location = document.getElementById('id_location');
                new_location.value = coordinates;
                locationButton.remove();
            }
            const error = () => {
                console.log("User did not provide location");
                locationButton.textContent = "Location was not provided";
            }

            navigator.geolocation.getCurrentPosition(success, error, {enableHighAccuracy: true});
        });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/
js?key=AIzaSyCCRiebHCZwS-9YWmth-iM4HMMu7Bzim6U&libraries=places&callback=initMap">
    </script>
{% endblock %}
