{% extends "auctions/layout.html" %}
{% block title %}UPCYCLING{% endblock %}
{% block body %}

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <h2 style="font-family:'verdana';">Watchlist</h2>

    {% for listing in listings %}
        {% if listing.is_active %}
                <div class="row">
                    <div class="card" style="width: 18rem;">
                      <img width="300px" height="300px" class="card-img-top" src="{{ listing.image_url.url }}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                          <h6 style="font-family:'DM Sans';" class="card-subtitle mb-2 text-body-secondary">Viewed {{ listing.times_visited }} time(s)</h6>
                        <p class="card-text">${{ listing.price.price|floatformat:2 }}</p>
                        <p class="card-text">{{ listing.description }}</p>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-secondary">Visit Product</a>
                      </div>
                    </div>
                </div>
        {% endif %}
    {% endfor %}

{% endblock %}